body {
  font-family: "Poppins", sans-serif;
  color: #282c3b;
}

h1 {
  font-size: 80pt;
  font-weight: 500;
}

h2 {
  font-size: 30pt;
  font-weight: 400;
}

h3 {
  font-size: 12pt;
  font-weight: 300;
}
p {
  font-size: 10pt;
  font-weight: 300;
}

.container {
  background: linear-gradient(180deg, #3e66a2 0%, #d3aba6 100%);
  padding: 15px;
  border-radius: 5px;
  margin-top: 50px;
  width: 100%;
}
.search {
  background-color: rgba(242, 233, 228, 0.5);
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 5px;
}

.main-content {
  padding: 10px 10px 10px 20px;
}

.side-bar-col {
  padding: 10px 20px 10px 10px;
}

@media screen and (max-width: 992px) {
  .main-content {
    padding-right: 20px;
  }
  .side-bar-col {
    padding-left: 20px;
  }
}

.todays-weather,
.more-info {
  background-color: rgba(242, 233, 228, 0.5);
  padding: 40px;
  border: solid 1px transparent;
  border-radius: 5px;
}

.todays-temp {
  margin: 0 auto;
}

.extra-info-text {
  margin-bottom: 20px;
}
.number {
  margin-bottom: 0;
}
.side-bar {
  background-color: rgba(242, 233, 228, 0.5);
  padding: 30px 30px 12px 30px;
  border: solid 1px transparent;
  border-radius: 5px;
}
.forecast-title {
  margin-bottom: 40px;
}
.next-week-forecast {
  align-items: center;
}
.next-week-forecast .col {
  padding: 10px 12px 11px;
  font-size: 10pt;
  font-weight: 300;

  display: flex;
  align-items: center;
}

.weather-forecast-temperature-max {
  padding-right: 10px;
}
.weather-forecast-temperature-min {
  color: white;
}

.units {
  font-size: 10pt;
  position: relative;
  top: -20px;
}

.page-info {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.large-symbol {
  margin: 0 auto;
  min-width: 100%;
}
